body {
  margin: 0;
  background: #1e1e1e;
  font-family: Arial;
  color: white;
}

/* NAVBAR */
.navbar {
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;   /* reduced vertical padding */
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;     /* increase size */
  width: auto;
  object-fit: contain;
}

.brand {
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(#111, #1e1e1e);
}

.tagline {
  color: #ff8c00;
  letter-spacing: 3px;
}

/* SECTIONS */
.section {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* CARD STYLE (USED FOR BOTH GAMES & FOUNDERS) */
.card {
  background: #2c2c2c;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

/* CATEGORY */
.category-tag {
  background: #ff8c00;
  padding: 4px 8px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 4px;
}

.desc {
  color: #ccc;
  font-size: 14px;
}

/* FOUNDERS */
.founders-grid {
  grid-template-columns: repeat(2, 1fr);
}

.founder-card {
  padding-top: 25px;
}

.founder-img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  /* border: 3px solid #ff8c00; */
  margin-bottom: 10px;
}

.founder-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.founder-role {
  color: #ff8c00;
  font-weight: bold;
}

.founder-details {
  text-align: left;
  padding-left: 20px;
  color: #ccc;
}

/* ABOUT */
.about-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #ccc;
  line-height: 1.6;
}

/* FOOTER */
.footer {
  background: #111;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* PLAY BUTTON */
.play-btn {
  margin-top: 10px;
  padding: 8px 18px;
  background:blue;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.play-btn:hover {
  background: #e67e00;
  transform: translateY(-1px);
}

.play-btn:active {
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .founders-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .nav-links {
    display: none;
  }
}